@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --white: #ffffff;
  --black: #000000;
  --banana: #ffc728;
  --Dark-gray: #797979;
  --Interdimensional-Blue: #530dc8;
  --alice-blue: #f4fbff80;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.7rem;
}

/* NAVBAR */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 5rem 6.5rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 7rem;
}

.logo p {
  font-size: 1.7rem;
  font-family: "Inter";
  text-transform: capitalize;
  width: 3rem;
  line-height: 1.5rem;
}

.logo p span {
  font-weight: 500;
}

.nav-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-links ul li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  color: var(--black);
  margin: 0 2rem;
  text-transform: capitalize;

}

.nav-links ul li a {
  text-decoration: none;
  transition: all ease-in-out 200ms;
  color: var(--black);
}

.nav-links ul li a:hover {
  color: var(--banana);
}

.contact-btn {
  background: var(--Interdimensional-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  padding: 1rem 2rem;
  margin: 1.5rem 0 2rem 0;
  font-weight: 700;
  font-size: 1.7rem;
  text-transform: capitalize;
  border: none;
  border-radius: 1.6rem;
}

.contact-arrow {
  margin-left: 1.25rem;
}

.main-home-content {
  display: flex;
  padding: 0 7rem 5rem;
}

.main-text {
  width: 100%;
  padding-left: 2rem;
}

.main-text h1 {
  width: 35rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.2rem;
  letter-spacing: -0.05rem;
  color: var(--black);
  margin: 0 0 2rem 0;
}

.main-text h1 span {
  color: var(--banana);
  font-weight: 700;
  letter-spacing: 0;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

.main-text h2 {
  width: 46.9rem;
  height: 4.2rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.1rem;
  letter-spacing: 0.015rem;
  color: var(--Dark-gray);
}

.button-polygon {
  display: flex;
  align-items: center;
  margin-bottom: 5.2rem;
  gap: 2.2rem;
}

hr {
  width: 30rem;
  margin: 0 0 1rem;
}

.main-text h3 {
  width: 26.9rem;
  height: 4.4rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 3.6rem;
  letter-spacing: 0.025rem;
  color: var(--Interdimensional-Blue);
}

.main-text h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  margin: 0.5rem 0 0 0;
  line-height: 1.9rem;
  letter-spacing: 0.05rem;
  color: var(--black);
}

.main-img {
  width: 100%;
}

.main-img img {
  height: 40rem;
  width: 85%;
}

/* USER INPUT */
.user-input-form {
  display: flex;
  padding: 0 7rem 5rem;
}

.user-input-form select {
  padding: 0.5rem;
  height: 4rem;
  border: 1px solid rgba(0, 0, 0, 0.453);
}

.user-input-form input {
  padding: 0.5rem 0 0.5rem 4rem;
  border: 1px solid rgba(0, 0, 0, 0.453);
  height: 4rem;
  width: 25rem;
}

.input {
  display: flex;
}

.input img {
  position: relative;
  left: 5.5rem;
  top: 0.9rem;
  width: 2.5rem;
  height: 2rem;
}

#input-arrow {
  position: relative;
  left: 24rem;
  top: 0.9rem;
  width: 2.5rem;
  height: 2rem;
}
/* ABOUT US SECTION */
.about-us {
  padding: 0 7rem 5rem;
  margin: 7rem 0 8rem 0;
  display: flex;
}

.aboutus-text {
  width: 100%;
}

.aboutus-text h2 {
  text-transform: uppercase;
  font-family: "Inter";
  color: var(--Interdimensional-Blue);
  margin: 0 0 1rem 0;
  font-size: 2rem;
}

.aboutus-text h1 {
  width: 32rem;
  font-weight: 600;
  font-size: 4.5rem;
  font-family: "Inter";
}

.aboutus-text h4 {
  width: 54.9rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.1rem;
  letter-spacing: 0.015rem;
  color: var(--Dark-gray);
  margin: 1rem 0 2.5rem 0;
}

.aboutus-img {
  width: 100%;
}

.aboutus-img img {
  height: 40rem;
  width: 85%;
}

.aboutus-button {
  background: var(--banana);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Interdimensional-Blue);
  padding: 1rem 2rem;
  margin: 1.5rem 0 2rem 0;
  font-weight: 700;
  font-size: 1.7rem;
  text-transform: capitalize;
  border: none;
  border-radius: 1.6rem;
}

.sponsors {
  margin: 2rem auto 4rem auto;
  display: flex;
  width: 90%;
  padding: 0 2rem;
  border-radius: 2.5rem;
  height: 5rem;
  box-shadow: -1px -1px 2px rgb(209, 209, 209), 1px 1px 2px rgb(209, 209, 209);
  justify-content: space-between;
  align-items: center;
}
.sponsors h2 {
  text-transform: capitalize;
  font-size: 2rem;
  font-family: "Inter";
  font-weight: 600;
}
.sponsors img {
  height: 3rem;
  width: 9rem;
}


.service {
  font-family: "Inter";
  background-color: var(--alice-blue);
  padding: 21rem 7rem 5rem;
  margin-top: 21rem;
  text-align: center;
}

.service h3 {
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: var(--Interdimensional-Blue);
  letter-spacing: 0.015rem;
  margin-bottom: 2.2rem;
}

.service p:nth-child(2) {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 7.2rem;
  letter-spacing: -0.05rem;
  text-align: center;
  margin-bottom: 2.2rem;
}

.service p:nth-child(2) span {
  font-size: 6.4rem;
  font-weight: 300;
  line-height: 7.2rem;
  letter-spacing: -0.05rem;
  text-align: center;
}

.service p:nth-of-type(2) {
  font-family: Inter;
  font-size: 1.7rem;
  margin: 0 auto;
  font-weight: 400;
  line-height: 2.6rem;
  letter-spacing: 0.15000000596046448px;
  text-align: center;
  width: 61.4rem;
  height: 10.5rem; 
  color: var(--Dark-gray);
  margin-bottom: 2.2rem;
}

.button-link {
  text-decoration: none;
}

.service-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: Inter;
  height: 6.3rem;
  width: 20rem;
  border: 0;
  border-radius: 1.6rem;
  padding: 1rem;
  background-color: var(--banana);
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.15000000596046448px;
  text-align: center;
  color: var(--Interdimensional-Blue);
}

.service-button img {
  margin-left: 1.5rem;
}

.service-card {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
}

.card {
  background-color: var(--white);
  padding: 1.6rem 2.3rem;
  gap: 1.6rem;
  width: 26.6rem;
  box-shadow: 0px 0px 38px rgba(186, 104, 200, 0.08);
  border-radius: 1.6rem;
  margin-right: 2.9rem;
  margin-bottom: 18.5rem;
}

.card > img {
  padding-bottom: 1.834rem;
}

.card h3 {
  text-align: left;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2.1rem;
  letter-spacing: 0.015rem;
  color: var(--Interdimensional-Blue);
}

.card p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: 0.025rem;
  padding-bottom: 1.6rem;
  color: var(--Dark-gray);
}

.card button {
  display: flex;
  font-family: Inter;
  justify-content: center;
  align-items: center;
  border: 0;
  color: var(--white);
  font-size: 1.7rem;
  line-height: 2.1rem;
  text-align: center;
  letter-spacing: 0.015rem;
  padding: 1rem;
  gap: 1rem;
  width: 16.4rem;
  height: 5rem;
  background: var(--Interdimensional-Blue);
  border-radius: 1.6rem;
}

.card a {
  text-decoration: none;
}
/* THIRD CARD MODIFICATIONS */

.card:nth-child(3) {
  background-color: var(--Interdimensional-Blue);
}

.card:nth-child(3) > h3 {
  color: var(--white);
}

.card:nth-child(3) p {
  color: var(--white);
}

.card:nth-child(3) button {
  background-color: var(--white);
  color: var(--Interdimensional-Blue);
}

/* MODIFICATION ENDS */

.card img:nth-of-type(1) {
  margin-left: 1.25rem;
}

/* PROJECT SECTION */
.project {
  font-family: "Inter";
  font-style: normal;
  margin: 12.5rem 15rem 18rem;
}

.project p:nth-child(1) {
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 2.5rem;
  letter-spacing: 0.015rem;
  margin-bottom: 2.2rem;
  color: var(--Interdimensional-Blue);
}

.project h3 {
  font-weight: 700;
  margin-bottom: 2.2rem;
  font-size: 6.4rem;
  line-height: 7.2rem;
  letter-spacing: -0.05rem;
  color: var(--black);
}

.project p:nth-of-type(2) {
  width: 55.1rem;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.6rem;
  letter-spacing: 0.015rem;
  color: var(--Dark-gray);
}

.grid-image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 2.4rem;
  margin-bottom: 3.6rem;
}

.grid-image .grid {
  width: 100%;
  height: 100%;
  grid-row: span 1;
  border-radius: 1rem; /* ..... */
  overflow: hidden;
}

.grid-image .grid img {
  height: 100%;
  width: 100%;
}

.grid-image .grid:nth-child(2) {
  grid-column: 2/4;
}

.grid-image .grid:nth-child(6) {
  grid-column: 1/3;
}

.project-button {
  font-family: "Inter";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
  gap: 1rem;
   width: 27.5rem;
  height: 6.3rem;
  background: var(--Interdimensional-Blue);
  border-radius: 1.6rem;
  border: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 2.1rem;
  line-height: 2.5rem;
  text-align: center;
  letter-spacing: 0.015rem;
  color: var(--white);
}



/* TESTIMONIAL SECTION  */
.testimonial {
  display: flex;
  gap: 4.8rem;
  background-color: var(--alice-blue);
  padding: 15rem 7rem 10rem;
  font-family: "Inter";
}

.left h3 {
  color: var(--Interdimensional-Blue);
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 2.5rem;
  letter-spacing: 0.015rem;
  margin-bottom: 2.2rem;
}

.left p:nth-child(2) {
  font-weight: 700;
  width: 44.7rem;
  font-size: 6.4rem;
  line-height: 7.2rem;
  letter-spacing: -0.05rem;
  color: var(--black);
}

.left p:nth-child(3) {
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.6rem;
  letter-spacing: 0.015rem;
  width: 44.7rem;
  height: 6.7rem;
  color: var(--Dark-gray);
}

.left a {
  text-decoration: none;
}

.left button {
  font-family: "Inter";
  font-weight: 400;
  font-size: 2.1rem;
  line-height: 2.5rem;
  text-align: center;
  letter-spacing: 0.015rem;
  color: var(--Interdimensional-Blue);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  width: 31.8rem;
  height: 6.3rem;
  background: var(--banana);
  border-radius: 1.6rem;
  border: 0;
}

.right-grid {
  display: grid;
  gap: 1.562rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.comment-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.6rem;
  background: var(--white);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 1.6rem;
}

.comment-box > img {
  margin-bottom: 2rem;
}

.comment {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1rem 0rem;
  gap: 1.6rem;
}

.comment > p {
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.6rem;
  letter-spacing: 0.015rem;
  color: var(--Dark-gray);
}

.name {
  display: flex;
  align-items: flex-start;
  padding: 0rem;
  gap: 1.9rem;
}

.name p:nth-of-type(1) {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.05rem;
  color: var(--Interdimensional-Blue);
}

.name p:nth-of-type(2) {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.05rem;
  color: var(--Dark-gray);
<<<<<<< HEAD
}

/*Team Members styling begin*/
.container-one{
  text-align: center;
  padding-bottom: 3em;
}

.div-one{
  text-align: center;
  padding-top: 2em;
  margin-left: 30%;
  margin-right: 30%;
}

.div-one h4{
  font-family: inter;
  color: var(--Interdimensional-Blue);
  font-size: 2.1rem;
  letter-spacing: 0.015rem;
}

.div-one h1{
  font-family: inter;
  margin-top: 14px;
  font-size: 6.1rem;
  line-height: 7.2rem;
}

.div-one p{
  font-family: inter;
  font-size: 1.7rem;
  color: var(--Dark-gray);
  margin-top: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.015rem;
}

.grid-container{
  column-gap: 5px;
  row-gap: 5px;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  margin-top: 3em;
  text-align: center;
  padding-right: 8px;
  padding-left: 8px;
}

.img-holder{
  height: 430px;
  width: 100%;
  border-radius: 16px;
}

.dev-picture{
  height: 75%;
  width: 100%;
  border-radius: 9px;
  object-fit: cover;
}

.dev-picture:hover{
  transform: scale(0.9);
}

.img-holder h4{
  font-family: inter;
  color: var(--Interdimensional-Blue);
  font-size: 2.1rem;
  line-height: 2.5rem;
  padding-top: 1.8rem;
}

.img-holder p{
  font-family: inter;
  color: var(--Dark-gray);
  font-size: 1.4rem;
  padding-top: 0.8rem;
}

.container-two{
  display: flex;
  background-color: var(--alice-blue);
  padding: 2em;
  justify-content: space-between;
}

.container-two h4{
  font-family: inter;
  color: var(--Interdimensional-Blue);
  font-size: 2.1rem;
}

.container-two h1{
  font-family: inter;
  font-size: 6.4rem;
  margin-top: 2.2rem;
  line-height: 7.4rem;
  font-weight: 700;
}

.container-two p{
  font-family: inter;
  color: var(--Dark-gray);
  font-size: 1.7rem;
  font-weight: 400;
  margin-top: 2.2rem;
}

.div-two{
  margin-left: 1.5rem;
  margin-top: 22.4rem;
  font-weight: 700;
  margin-bottom: 29.6rem;
}

.div-three {
  margin-top: 2.2rem;
}

.div-three a{
  margin-top: 12px;
  padding: 7px;
}

.bi-facebook{
  color: blue;
}

.bi-twitter{
  color: rgb(0, 140, 255);
  height: 20px;
  width: 20px;
}

.bi-whatsapp{
  color: rgb(2, 172, 53);
}

.bi-instagram{
  color: rgb(241, 45, 241);
}

.bi-linkedin{
  color: rgb(38, 38, 197);
}

.second-form{
  background-color: var(--white);
  border: 1px solid gray;
  box-sizing: border-box;
  padding: 2em;
  gap: 2.4rem;
  width: 60.6rem;
  height: 62.6rem;
}

.form-div-one{
  display: flex;
  justify-content: space-between;
}

.first-name{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2.0rem;
  gap: 0.1rem;
  width: 25.5rem;
  height: 5.9rem;
  border: 1px solid gray;
  outline-color: rgb(0, 204, 255);
  margin-top: 3.5rem;
  margin-left: 3.5rem;
  margin-right: 2.6rem;
}

.second-name{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2.0rem;
  gap: 0.1rem;
  width: 25.5rem;
  height: 5.9rem;
  border: 1px solid gray;
  margin-top: 3.5rem;
  margin-right: 3.5rem;
  outline-color: rgb(0, 204, 255);
}

.form-div-two{
  display: flex;
  justify-content: space-between;
}

.email{
  padding: 2rem;
  gap: 0.1rem;
  width: 25.5rem;
  height: 5.9rem;
  outline-color: rgb(0, 204, 255);
  margin-top: 3.5rem;
  margin-left: 3.5rem;
  margin-right: 2.6rem;
}

.phone{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2.0rem;
  gap: 0.1rem;
  width: 25.5rem;
  height: 5.9rem;
  border: 1px solid gray;
  margin-top: 3.5rem;
  margin-right: 3.5rem;
  outline-color: rgb(0, 204, 255);
}

.message-purpose{
  display: flex;
  padding: 2.0rem;
  gap: 2.6rem;
  width: 46.6rem;
  height: 5.9rem;
  margin-top: 2.4rem;
  margin-right: 3.5rem;
  margin-left: 3.5rem;
  outline-color: rgb(0, 204, 255);
}

.main-message{
  display: flex;
  padding: 0rem 0rem 16.0rem 2rem;
  gap: 2.6rem;
  width: 46.6rem;
  height: 20.1rem;
  margin-top: 2.4rem;
  margin-right: 3.5rem;
  margin-left: 3.5rem;
  outline-color: rgb(0, 204, 255);
}

.submit{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2.0rem;
  gap: 0.1rem;
  width: 46.6rem;
  height: 5.6rem;
  border: none;
  margin-top: 2.4rem;
  margin-right: 3.5rem;
  margin-left: 3.5rem;
  margin-bottom: 4.8rem;
  font-family: inter;
  color: var(--white);
  background-color: var(--Interdimensional-Blue);
}

.container-three{
  display: flex;
  justify-content: space-between;
  margin-left: 11%;
  margin-right: 11%;
  padding-top: 5%;
  font-size: 14px;
}

.end-logo-div{
  display: flex;
  justify-content: space-between;
  font-size: 2.1rem;
  font-family: "Inter";
  text-transform: capitalize;
  width: 3.0rem;
  line-height: 1.5rem;
}

.end-logo-div span{
  font-weight: 500;
}

.end-logo-div h3{
  margin-top: 3.0rem;
}

.div-five{
  display: block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.1rem;
  letter-spacing: 0.015rem;
}

.div-five img{
  height: 100px;
}

.div-six a{
  display: block;
  padding: 8px;
  text-decoration: none;
  color: var(--black);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.05rem;
  
}

.div-seven a{
  display: block;
  padding: 8px;
  text-decoration: none;
  color: var(--black);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.05rem;
  
}

.div-eight a{
  display: block;
  padding: 8px;
  text-decoration: none;
  color: var(--black);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-align: center;
  letter-spacing: 0.05rem;
  
}

.div-eight > .div-three{
  display: flex;
}

.container-four{
  text-align: center;
  font-size: 14px;
  padding: 1.5em;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.1rem;
letter-spacing: 0.015rem;
}

@media screen and (max-width:535px){
 .grid-container{
      grid-template-columns: repeat(3,1fr);
  }

  .div-one{
      margin-left: 30%;
      margin-right: 30%;
  }
}

@media screen and (max-width:768px) {
  .grid-container{
      grid-template-columns: repeat(2,1fr);
  }

  .container-two{
      display: block;
  }

  .div-four{
      padding-top: 3em;
  }

  .div-two{
      margin-left: 0px;
      margin-top: 2em;
      padding-bottom: 3em;
  }

  .container-three{
      display: block;
  }

  .grid-container{
     justify-items: center;
  }

  .img-holder{
      height: 430px;
      width: fit-content;
      border-radius: 16px;
  }

  .div-one{
      margin-left: 0%;
      margin-right: 0%;
  }

  .div-eight > :nth-child(1){
    float: left;
    margin-top: -2rem;
  }

}

/*Team Members styling ends*/
=======
}
>>>>>>> 0046dbc1ee1ffcc2b07dd9c9ce0fface7d38cf59
